{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'assets/css/article.css' %}" />
  </head>
  <body>
    <h1>Articals</h1>
    <h2>Latest Posts</h2>
    <div class="blog-base">
      <div class="imageblog1"></div>
      <div class="content-blog1">
        Sustainable Success: A Framework for Optimizing Profit<br />
        <button
          class="blog-button"
        >
          <a href="https://www.toptal.com/finance/business-consultants/optimizing-profit">Read more</a>
        </button>

        
      </div>
    </div>

    <div class="blog-base">
      <div class="imageblog2"></div>
      <div class="content-blog1">
        The Financial Implications of Using AI in Marketing<br /><button
          class="blog-button"
        >
          <a href="https://www.toptal.com/finance/growth-strategy/ai-marketing">Read more</a>
        </button>
      </div>
    </div>


    <!-- new line -->
    <!-- <div class="blog-base-1">
      <div class="blog-img-content-base">
        <div class="blog-img-1"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>

      <div class="blog-img-content-base">
        <div class="blog-img-2"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>

      <div class="blog-img-content-base">
        <div class="blog-img-3"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>
    </div> -->
    <!-- <div class="blog-base-2">
      <div class="blog-img-content-base">
        <div class="blog-img-4"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>
      <div class="blog-img-content-base">
        <div class="blog-img-5"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>
      <div class="blog-img-content-base">
        <div class="blog-img-6"></div>
        <br />
        <p class="blog-img-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore,
          illum adipisci nesciunt aliquid minima laudantium laboriosam est
          eveniet ex provident assumenda nemo, repudiandae mollitia magnam vel
          modi nihil, obcaecati animi.
        </p>
      </div>
    </div> -->
  </body>
</html>
